{% load leaflet_tags %}
<head>      
{% leaflet_js %}    
{% leaflet_css %} 
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 

</head>

<body>    
    {% leaflet_map "cantons" callback="main_map_init" %}        
    <script type="text/javascript">       
function main_map_init (map, options) {            
     var dataurl = '{% url "cantonsjson" %}'            
     $.getJSON(dataurl, function (data){               
          L.geoJson(data,{onEachFeature: onEachFeature}).addTo(map); });        
}                

function onEachFeature(feature, layer) {
    if (feature.properties && 
          feature.properties.name) {                  
       layer.bindPopup(feature.properties.name);            
    }                    
}
            
 </script>    
 </body>
 